@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto:wght@300&display=swap");

.more-form {
  height: auto;
  margin: 0 auto 5rem auto;
  width: 20rem;
  /* padding: 0.5rem 0.3rem; */
  transform: translateY(10%);
  text-align: center;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #00154f;
  border-bottom: 0.2rem solid #00154f;
}

.more-label {
  font-weight: 900;
  text-decoration: none;
  /* margin-right: 2rem;
  padding-right: 2rem; */
  font-style: normal;
}

.more-input {
  border: solid #f4af1b 0.2rem;
  border-radius: 0.3rem;
  margin: 0 0.5rem;
  padding-left: 0.5rem;
  cursor: text;
}

.more-input:hover {
  border-color: #00154f;
}
.submit {
  border: ridge transparent 0.2rem;
  background-color: #f4af1b;
  color: #00154f;
  border-radius: 0.5rem 1rem;
  text-align: center;
  padding: 0.05rem 0.3rem;
  margin-bottom: 0.5rem;
  width: 8rem;
  font-size: 0.9rem;
}
