.form {
  height: auto;
  border: solid #000000 0.2rem;
  padding: 0.5rem 0.3rem;
  transform: translateY(10%);
  text-align: center;
  box-sizing: border-box;
}

.label {
  font-weight: bold;
}

.select {
  border: ridge #000000 0.2rem;
  margin: 0 0.2rem;
  text-transform: capitalize;
}

.input {
  border: ridge #000000 0.2rem;
  margin: 0 0.2rem;
}

.button {
  border: inset #000000 0.2rem;
  border-radius: 0.5rem 1rem;
  text-align: center;
  padding: 0.05rem 0.3rem;
  margin: 0 0.2rem;
  width: 8rem;
}
