@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto:wght@300&display=swap");

div table {
  overflow-x: auto;
  width: auto;
  margin: 2rem 3rem;
}
.table-block {
  border: 0.3rem solid transparent;
  font-family: "Roboto", sans-serif;
}

.table-header {
  background-color: #00154f;
  color: #f4af1b;
  text-transform: uppercase;
  /* padding: 2rem 4rem !important; */
}

.table-row:hover {
  color: #00154f !important;
}

.table-row:nth-child(odd) {
  background-color: #f4af1b;
  color: #00154f;
  opacity: 0.7;
}

.table-row:nth-child(even) {
  background-color: #00154f;
  color: #f4af1b;
  opacity: 0.7;
}

td {
  padding: 0.5rem 1rem;
  text-align: left;
  vertical-align: bottom !important;
}

.footer {
  position: sticky;
  bottom: 0;
  z-index: 1;
}
