.table-block {
  border: 0.3rem solid transparent;
  margin: 2rem 3rem !important;
  width: 80%;
}

.table-header {
  background-color: #00154f;
  color: #f4af1b;
  text-transform: uppercase;
  /* padding: 2rem 4rem !important; */
}

.table-row:hover {
  color: #00154f !important;
}

.table-row:nth-child(odd) {
  background-color: #f4af1b;
  color: #00154f;
  opacity: 0.7;
}

.table-row:nth-child(even) {
  background-color: #00154f;
  color: #f4af1b;
  opacity: 0.7;
}

td {
  padding: 0.5rem 1rem;
  text-align: left;
  vertical-align: bottom !important;
}
