@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto:wght@300&display=swap");

.form-overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  background-color: rgb(255, 255, 255, 0.5);
}

.more-form {
  height: 60%;
  margin: 2rem auto;
  padding: 1rem;
  max-width: 25rem;
  transform: translateY(10%);
  text-align: center;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #00154f;
  opacity: 80%;
  border-radius: 0.5rem;
}

.input-section {
  position: absolute;
  margin: 5rem auto 0;
  height: auto;
}

.more-label {
  font-weight: 900;
  text-decoration: none;
  font-style: normal;
}

.more-input {
  border-radius: 0.3rem;
  margin: 0.2rem 0.2rem;
  padding-left: 0.5rem;
  cursor: text;
  display: inline-block;
  width: 10rem;
  position: relative;
}

.more-input:hover {
  border-color: #f4af1b;
}

.submit {
  border: ridge transparent 0.2rem;
  background-color: #f4af1b;
  color: #00154f;
  border-radius: 0.5rem;
  text-align: center;
  padding: 0.05rem 0.3rem;
  width: 8rem;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.success {
  color: #096e12;
  font-weight: bold;
  background-color: #ffffff;
  border-left: 0.2rem solid #096e12;
  display: block;
  width: 10rem;
  padding: 0.3rem;
  font-size: 0.7rem;
  text-align: center;
  position: relative;
  left: 30%;
  text-transform: uppercase;
}

.error {
  color: #df2b0b;
  font-weight: bold;
  background-color: #ffffff;
  border-left: 0.2rem solid #df2b0b;
  display: block;
  width: 12rem;
  padding: 0.3rem;
  font-size: 0.8rem;
  text-align: center;
  position: relative;
  left: 30%;
  text-transform: uppercase;
}

form h4 {
  text-align: center;
  color: #f4af1b;
  font-weight: bolder;
}

.close-form-button {
  margin-left: 1rem;
  font-size: 2rem;
  cursor: pointer;
  box-sizing: border-box;
  position: absolute;
  right: 5%;
  color: #f4af1b;
}
